// wanted to remove the left padding of the whole comment list, but it seems
// doing that would remove all the padding of the subcomments as well.
// The paddings are probably added by js?

// the whole comment area is a section on its own, with the same layout as main content

.comments-area {
	@extend .site-main;
	padding-bottom: 25px;
}

.comment-list {
	margin-bottom: 0;
}

.comment-reply-title {
	margin: 0;
}

.comments-title {
	font-family: $major-font-fam;
}

#cancel-comment-reply-link {
	margin-left: 1em;
}

.comment-list .url, .comment-list .comment-reply-link, #cancel-comment-reply-link {
	@extend .component-link;
	font-weight: 800;
}

.comment-list .comment {
	padding-bottom: 2.6em;
}

.comment-notes {
	font-size: 15px;
}

$__comment-content-padding: 0.5em;
.comment-content {
	padding-top: $__comment-content-padding;
	padding-bottom: $__comment-content-padding;
}

.comment-metadata {
	float: right;
}

.comment-author {
	float: left;
	font-size: 18px;
}

.comment-metadata {
	margin-top: 0.1em;
	font-size: 14px;
	color: #888;
}

.comment-meta {
	overflow: hidden;
}

.comment-form p {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.comment-form input[type="text"] {
	@extend .component-input;
	max-width: 320px;
	width: 100%;
}

.comment-form textarea {
	@extend .component-text-input;
	resize: none;
	width: 100%;
}

.comment-form .submit {
	@extend .component-button;
	@include button-color-states($primary-green-color);
	font-family: Verdana, Geneva, sans-serif;
}
