.series-nav-wrap {
	margin: 1.2em 0;
	overflow: hidden;
}

.series-next-link {
	@extend .component-link;
	float: right;
	font-weight: 800;
	font-size: 18px;
}

.series-prev-link {
	@extend .component-link;
	float: left;
	font-weight: 800;
	font-size: 18px;
}
